
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.backButton {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  border-radius: 100%;
  
}

.cartIcon {
  font-size: 30px;
}

.progressBar {
  height: 4px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}

.progressBar::before {
  content: '';
  display: block;
  height: 100%;
  width: 50%;
  background-color: #007bff;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Greycliff CF', sans-serif;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  font-family: 'Greycliff CF', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Greycliff CF', sans-serif;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 5px;
  font-size: 14px;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  background-color: #ada9a9a6;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.skipButton, .continueButton {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.skipButton {
  /* background-color: #f0f0f0; */
  color: #9b9797;
  font-weight: bolder;
  /* font-family: greycliff CF; */
}

.skipButton:hover {
  background-color: #c2c1c1;
  color: #f0f0f0;
  font-weight: bolder;
}

.continueButton {
  background-color: #007bff;
  color: white;
  font-size: large;
  
}

.continueButton:hover {
  background-color: white;
  color: #007bff;
  border-color: #007bff;
  transition: all 4s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 12px;
  }

  .inputGroup input {
    font-size: 14px;
    border-radius: 14px;
  }

  .skipButton, .continueButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}